<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
		@Styles.Render("~/Content/css")
		@Scripts.Render("~/bundles/modernizr")
        @RenderSection("head", required: false)
		<link href="/public/css/common.css" rel="stylesheet" type="text/css">
		<link href="/public/css/common_ajax_dialog.css" rel="stylesheet" type="text/css">
		<link href="/public/css/jobs.css" rel="stylesheet" type="text/css">
		<script src="/public/js/jquery.common.js" type="text/javascript" language="javascript"></script>
		<script type="text/javascript" src="/data/static/6f557ceaff36b5f87598d5441e0a6ba3.js?"></script>
    </head>
    <body>

        @RenderBody()

    </body>
</html>
